<!-- Blog Item -->
<div class="col-lg-12">
  <div class="ltn__blog-item ltn__blog-item-3">
    <div class="ltn__blog-img">
      <a href="blog-details.html"><img src="img/blog/1.jpg" alt="#"></a>
    </div>
    <div class="ltn__blog-brief">
      <div class="ltn__blog-meta">
        <ul>
          <li class="ltn__blog-author">
            <a href="#"><i class="fa-regular fa-user"></i>by: @Post.Name</a>
          </li>
          <li class="ltn__blog-tags">
            @foreach(var tag in Post.Tags)
            {
              <a href="#"><i class="fa-solid fa-tags"></i>@tag</a>
            }

          </li>
        </ul>
      </div>
      <h3 class="ltn__blog-title">
        <a href="/blog/@Post.Published.Month/@Post.Published.Day/@Post.Published.Year/@Post.Slug">@Post.Title</a>
      </h3>
      <div class="ltn__blog-meta-btn">
        <div class="ltn__blog-meta">
          <ul>
            <li class="ltn__blog-date">
              <i class="fa-regular fa-calendar-alt"></i>@Post.Published.ToString("/d")
            </li>
          </ul>
        </div>
        <div class="ltn__blog-btn">
          <a href="blog-details.html">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>


