@if(!string.IsNullOrEmpty(Link))
{
    <li><a href="@ValidatedLink()" title="@Title"><i class="@Icon"></i></a></li>
}

@code {
    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Icon { get; set; }

    private string ValidatedLink()
    {
        if (Link.StartsWith("http://") || Link.StartsWith("https://"))
            return Link;

        switch(Title)
        {
            case "Facebook":
                return $"https://facebook.com/{Link}";
            case "Twitter":
                return $"https://twitter.com/{Link}";
            case "LinkedIn":
                return $"https://linkedin.com/in/{Link}";
            case "Instagram":
                return $"https://instagram.com/{Link}";
            case "YouTube":
                return $"https://youtube.com/{Link}";
            default:
                return "#";
        }
    }
}
