<div class="row gt-3 pt-2 pb-3">
  <div class="col-md-12">
    <span class="clickable" @onclick=@OnNavigateBack>
      <i class="fa-duotone fa-chevron-left"></i>&nbsp;&nbsp;Back
    </span>
  </div>
</div>
