<div class="text-center h-75 w-100">
    <div class="mx-3">
        <img src="_content/MultiFamilyPortal.CoreUI/building_websites.svg" alt="Info" class="img img-fluid" style="max-height: 500px; max-width: 600px;" />
        <h1 class="display-4">Coming Soon</h1>
        <p class="text-secondary mx-5">
            Real estate cannot be lost or stolen, nor can it be carried away. 
            Purchased with common sense, paid for in full, 
            and managed with reasonable care, it is about the safest investment in the world." 
            <br />-Franklin D. Roosevelt.</p>
    </div>
</div>
