@if (Type == DocumentType.PDF)
{
    <div @ref="_wrapperRef" style="min-width: auto; min-height: 500px">
      <div id="@_widgetId" 
           data-filename="@Link" 
           data-width="100%" 
           data-height="100%">
      </div>
    </div>
}
else
{
 
    <img id="work-pic"  
         alt="doucment Image"
         class="img-fluid mx-auto d-block"  
         src=@Link/>
}