<div class="text-center my-auto">
  <div>
   <img src="_content/MultiFamilyPortal.CoreUI/missing_graph.svg" alt="No Graph" class="img img-fluid" />
  </div>
  <div class="text-secondary my-1">
    @Message
  </div>
</div>

@code {
  [Parameter]
  public string Message { get; set; }
}