@page "/"

<div class="container py-5">
  <div class="text-center">
    <img src="_content/MultiFamilyPortal.SuspendedTenantTheme/img/taken_re_yn20.svg" class="img-fluid py-5 px-3" style="max-height:400px" alt="Account Suspended" />
    <h1>Whoops...</h1>
    <p class="pt-5">Sorry but it looks like this domain is either not configured or has been suspended.</p>
    <p>If you have reached this page in error please contact our support team <a href="mailto:support@avantipoint.com">support&#64;avantipoint.com</a></p>
  </div>
</div>
@code {

}
