<div class="col-lg col-md-4 p-1">
  <div class="mb-1 text-center text-light my-auto">@Title</div>
  <div class="text-center m-2 p-2 underwriting-@Color.ToString().ToLower()">
    <span>@Value</span>
  </div>
</div>
