<div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
          <div class="coll-to-info text-color-white">
            <h1>Supercharge your Investments</h1>
            <p>Let us help you to put your investments to work in emerging markets to achieve above average annualized returns!</p>
          </div>
          <div class="btn-wrapper">
            <a class="btn btn-effect-3 btn-white" href="/invest-with-us">Invest with us <i class="icon-next"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@code {

}
