@page "/account/forgot-password"

<SiteTitle Title=@Title />

<div class="mb-4">
  <h1><img src="/theme/branding/logo" alt="Logo" class="img img-fluid logo" /></h1>
</div>

<div class="container">
  @if(Title == "Forgot Password")
  {
    <h2>Forgot Password</h2>
    <hr />
    <div class="row mb-5">
      <div class="col-md-12">
        <EditForm Model=@Input
                  OnValidSubmit=@OnFormSubmitted>
          <DataAnnotationsValidator />
          <ValidationSummary />

          <div class="form-floating mt-3 mb-2">
            <InputText @bind-Value=@Input.Email
                       class="form-control"
                       autocomplete="username"
                       aria-required="true" />
            <label for="Email" class="form-label">Email</label>
            <ValidationMessage For="() => Input.Email" />
          </div>
          <button type="submit" class="w-100 mt-2 btn btn-lg btn-primary">Reset Password</button>
        </EditForm>
      </div>
      <div class="col-md-12 pt-3">
        <a href="/">Back to Login</a>
      </div>
    </div>
  }
  else
  {
    <h1>@Title</h1>
    <p>
        Please check your email to reset your password.
    </p>
  }
</div>

