@page "/account/lockout"

<SiteTitle Title="Locked Out" />

<div class="mb-4">
  <h1><img src="/theme/branding/logo" alt="Logo" class="img img-fluid logo" /></h1>
</div>

<div class="container">
  <header>
    <h1 class="text-danger">Locked Out</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
  </header>
</div>

