<BackButton OnNavigateBack=@OnNavigateBack />

<CrmContactInfoTab Contact=@Contact />

<div class="row text-center">
  <div class="col-md-12">
    <TelerikButton ThemeColor="primary"
                   IconClass="fa-duotone fa-floppy-disk"
                   Title="Save Contact"
                   OnClick=@SaveContact>Save</TelerikButton>
  </div>
</div>

<PortalNotification @ref="_notification" />
