@page "/account/forgot-password"

<SiteTitle Title=@Title />

<div class="container">
  @if(Title == "Forgot Password")
  {
    <h1>Forgot Password</h1>
    <h2>Enter your email.</h2>
    <hr />
    <div class="row pb-4">
      <div class="col-md-4">
        <EditForm Model=@Input
                  OnValidSubmit=@OnFormSubmitted>
          <DataAnnotationsValidator />
          <ValidationSummary />

          <div class="form-floating">
            <InputText @bind-Value=@Input.Email
                       class="form-control"
                       autocomplete="username"
                       aria-required="true" />
            <label for="Email" class="form-label">Email</label>
            <ValidationMessage For="() => Input.Email" />
          </div>
          <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </EditForm>
      </div>
    </div>
  }
  else
  {
    <h1>@Title</h1>
    <p>
        Please check your email to reset your password.
    </p>
  }
</div>

