<p>Use this space to take any notes about how you've come up with your numbers.</p>
<h3>Income</h3>
<div class="row gt-3 mt-3">
  <label class="col-md-2 py-auto">Gross Potential Rent</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.GrossPotentialRentNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Loss to Lease</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.LossToLeaseNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Gross Scheduled Rent</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.GrossScheduledRentNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Physical Vacancy</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.PhysicalVacancyNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Concessions Non-Payment</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.ConcessionsNonPaymentNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Utility Reimbursement</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.UtilityReimbursementNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Other Income</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.OtherIncomeNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
</div>
<h3>Expenses</h3>
<div class="row gt-3 mt-3">
  <label class="col-md-2 py-auto">Taxes</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.TaxesNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Marketing</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.MarketingNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Insurance</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.InsuranceNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Utility</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.UtilityNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Repairs &amp; Maintenance</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.RepairsMaintenanceNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Contract Services</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.ContractServicesNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Payroll</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.PayrollNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">General / Admin</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.GeneralAdminNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Management</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.ManagementNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
  <label class="col-md-2 py-auto">Lending Terms</label>
  <div class="col-md-4 px-2 py-1">
    <TelerikTextArea @bind-Value=@Property.LendingNotes
                     Enabled=@_editable
                     AutoSize=@false
                     Width="100%"
                     Class="bucketlist" />
  </div>
</div>
